<!DOCTYPE html>
<html lang="en">

    <!--Head Section-->
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title>ResumePlus Home Page</title>

        <link rel = "stylesheet" type = "text/css" href = "../static/styles/ResumePlusStylesheet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <!--Body Section-->
    <body id = "home-page-body">

        <!--Header Section-->
       <header id = "home-header">

            <!--Logo and Title Section-->
            <div id = "top-wrapper">

                <!--Resume+ Logo-->
                <div id = "circle-logo"></div>

                <!--Title-->
                <h1 id = "title"><a href = "{{url_for('home_page')}}">Resume+</a></h1>

                <!--Search bar-->
                <div class = "search">
                    <input type = "text" placeholder = "Search" id = "search-bar">
                </div>

                <!--NavBar-->
                <nav class = "navbar-wrapper">
                    <ul>
                        <li><a href = "{{url_for('about')}}">About</a></li>
                        <li><a href = "">Messages</a></li>
                        <li><a href = "{{ url_for('support') }}">Support</a></li>
                    </ul>

                    {% if user %}
                        <!--Dropdown button-->
                        <div class = "dropdown-container dropdown">

                            <!--Button for dropdown-->
                            <button class = "edit-button dropbtn">Account</button>

                                <!--Dropdown Menu-->
                                <div class = "dropdown-content">
                                    <a href = "{{ url_for('profile') }}" class = "dropdown-menu">Profile</a>
                                    <a href = "{{ url_for('settings') }}" class = "dropdown-menu">Setting</a>
                                    <a href = "{{ url_for('logout') }}" class = "dropdown-menu">Log Out</a>
                                </div>
                        </div>
                    {% endif %}
                </nav>
            </div>
        </header>

        <!--Main Section-->
        <main>
            <script>
                function save_resume() {
                    var html = document.getElementById("sample_resume_div")
                    console.log(html)
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/save_resume", true);
                    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                    resume = {};

                    children = html.getElementsByTagName('*');
                    var e
                    for (var i = 0; i < children.length; ++i){
                    resume[i] = {
                        "html" : children[i].outerHTML,
                        "text" : children[i].innerHTML
                    }
                    }
                    xhr.send(JSON.stringify(resume));
                }

                //Open Features
                function openTemplates() {
                    document.getElementById("sidebar-popout-template").style.width = "250px";
                }
                function openTexts() {
                    document.getElementById("sidebar-popout-text").style.width = "260px";
                    document.getElementById("sidebar-popout-text").style.position = "relative";
                    document.getElementById("sidebar-popout-text").style.top = "-900px";
                }
                function openElements() {
                    document.getElementById("sidebar-popout-element").style.width = "250px";
                    document.getElementById("sidebar-popout-element").style.position = "relative";
                    document.getElementById("sidebar-popout-element").style.top = "-1570px";
                }
                function openMap() {
                    document.getElementById("sidebar-popout-map").style.width = "250px"; 
                    document.getElementById("sidebar-popout-map").style.position = "relative";
                    document.getElementById("sidebar-popout-map").style.top = "-2290px";
                }
                function openUpload() {
                    document.getElementById("sidebar-popout-upload").style.width = "250px"; 
                    document.getElementById("sidebar-popout-upload").style.position = "relative";
                    document.getElementById("sidebar-popout-upload").style.top = "-3370px";
                }
                function openMore() {
                    document.getElementById("sidebar-popout-map").style.width = "250px"; 
                    document.getElementById("sidebar-popout-map").style.position = "relative";
                    document.getElementById("sidebar-popout-more").style.top = "-4250px";
                }

                //Close Features
                function closeTemplates() {
                    document.getElementById("sidebar-popout-template").style.width = "0px";
                }
                function closeTexts() {
                    document.getElementById("sidebar-popout-text").style.width = "0px";
                }
                function closeElements() {
                    document.getElementById("sidebar-popout-element").style.width = "0px"; 
                }
                function closeMap() {
                    document.getElementById("sidebar-popout-map").style.width = "0px"; 
                }
                function closeUpload() {
                    document.getElementById("sidebar-popout-upload").style.width = "0px"; 
                }
                function closeMore() {
                    document.getElementById("sidebar-popout-more").style.width = "0px"; 
                }
            </script>

            <!--Buttons just below the header-->
            <div class="bottom-nav">
                <div class = "bottom-nav-wrapper">
                    <a href = ""><button class = "top-button" id = "share-button">Share</button></a>
                    <a href = ""><button class = "top-button" id = "download-button">Download</button></a>
                    <a href = ""><button class = "top-button" id = "dot-button">...</button></a>
                </div>
            </div>

            <!--sidebar links-->
            <div id = "vertical-nav">
                <div id = "sidebar">

                    <div class = "elements" id = "template-feature" onclick = openTemplates()>
                        <!--Sidebar elements-->
                        <img src = "../static/image/Template.png" id = "template-logo">
                        <h3>Templates</h3>
                    </div>

                    <div class = "elements" id = "text-feature" onclick = openTexts()>

                        <!--Sidebar elements-->
                        <img src = "../static/image/Text.png" id = "text-logo">
                        <h3>Text</h3>
                    </div>

                    <div class = "elements" id = "element-feature" onclick = openElements()>

                        <!--Sidebar elements-->
                        <img src = "../static/image/Elements.png" id = "element-logo">
                        <h3>Elements</h3>
                    </div>

                    <div class = "elements" id = "map-feature" onclick = openMap()>

                        <!--Sidebar elements-->
                        <img src = "../static/image/map.png" id = "map-logo">
                        <h3>Map</h3>
                    </div> 
                    
                    <div class = "elements" id = "upload-feature" onclick = openUpload()>

                        <!--Sidebar elements-->
                        <img src = "../static/image/upload.png" id = "upload-logo">
                        <h3>Upload</h3>
                    </div>
                    
                    <div class = "elements" id = "more-feature" onclick = openMore()>

                        <!--Sidebar elements-->
                        <img src = "../static/image/more.png" id = "more-logo">
                        <h3>More</h3>
                    </div>
                </div>

                <!--Side bar elements-->
                <div class = "side-bar-elements" id = "sidebar-popout-template">
                    <div class = "template-element">

                        <!--Heading-->
                        <h3 onclick = closeTemplates()>Templates</h3>

                        <!--Search-->
                        <input type = "text" placeholder = "Search" id = "template-search">

                        <!--Templates-->
                        <div class = "template1"></div>

                        <div class = "template2"></div>

                        <div class = "template3"></div>
                    </div>
                </div>

                <div class = "side-bar-elements" id = "sidebar-popout-text">
                    <div class = "text-element">

                        <!--Heading-->
                        <h3 onclick = closeTexts()>Text</h3> 

                        <!--Search-->
                        <input type = "text" placeholder = "Search" id = "text-search">

                        <!--Heading option-->
                        <div class = "heading-choice">

                            <h2 id = "heading-choice-one">Heading</h2>

                            <h3 class = "heading-option" id = "subheading">Subheading</h3>

                            <h4 class = "heading-option" id = "body-text">Body text</h4>
                        </div>

                        <!--User can choose text font-->
                        <div id = "text-choice">
                            <select>
                                <option>Time New Roman</option>
                            </select>
                        </div>

                        <!--User choose text size-->
                        <div id = "text-size">

                            <!--Font text-->
                            <select id = "font-text">
                                <option>Regular</option>
                            </select>

                            <!--Font size-->
                            <select id = "font-size">
                                <option>50</option>
                            </select>
                        </div>

                        <!--User choose text position-->
                        <div id = "text-position">
                            <div class = "column">
                                <i class="far fa-align-left"></i>
                            </div>

                            <div class = "column">
                                <i class="far fa-align-left"></i>
                            </div>

                            <div class = "column">
                                <i class="fas fa-align-center"></i>
                            </div>

                            <div class = "column">
                                <i class="far fa-align-justify"></i>
                            </div>
                        </div><br><br><br><br>

                        <div id = "text-element-wrapper">
                            
                            <div class = "text-element-container" id = "height-element">
                                <img src = "../static/image/height.png" id = "height">
                                <h4>Auto</h4>
                            </div>

                            <div class = "text-element-container" id = "AV-element">
                                <img src = "../static/image/AV.png" id = "AV">
                                <h4>0%</h4>
                            </div>
                        </div><br><br>

                        <!--Additional Text elements-->
                        <div id = "more-text">
                            <div class = "column">
                                <img src = "../static/image/Element1.png" class = "more-element">
                            </div>

                            <div class = "column">
                                <img src = "../static/image/Element2.png" class = "more-element">
                            </div>

                            <div class = "column">
                                <img src = "../static/image/Element3.png" class = "more-element">
                            </div>
                        </div>
                    </div>  
                </div>

                 <!--Elements Feature-->
                 <div class = "side-bar-elements" id = "sidebar-popout-element">
                    <div class = "element-element">

                        <!--Heading-->
                        <h3 onclick = closeElements()>Elements</h3>

                         <!--Search-->
                         <input type = "text" placeholder = "Search" id = "element-search">

                        <div id = "recently-used">
                            <h3>Recently Used</h3>
                            
                            <!--Shape Choice-->
                            <div id = "shapes">

                            </div>
                        </div>

                        <!--Line shape wrapper-->
                        <div class = "heading-wrapper">
                            <h3>Line & Shape</h3>
                            <h5>See All</h5>
                        </div>

                        <!--Shapes-->
                        <div id = "line-shape">
                            <div id = "square-shape"></div>
                            <div id = "circle-shape"></div>
                            <div id = "triangle-shape"></div>
                        </div>

                        <!--Photo List-->
                        <div class = "heading-wrapper">
                            <h3>Photos</h3>
                            <h5 id = "photo-see-all">See All</h5>
                        </div>

                        <!--Photo List-->
                        <div id = "photos-list">
                            <img src = "../static/image/photo1.jpeg">
                            <img src = "../static/image/photo1.jpeg">
                            <img src = "../static/image/photo1.jpeg">
                            <img src = "../static/image/photo1.jpeg">
                        </div>

                        <!--Video heading-->
                        <div class = "heading-wrapper">
                            <h3>Videos</h3>
                            <h5 id = "video-see-all">See All</h5>
                        </div>

                        <!--Video list choice-->
                        <div class = "videos-list">
                            <iframe src="https://www.youtube.com/embed/B1T06UhcX0Q" title="YouTube video player" 
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen></iframe>

                            <iframe src="https://www.youtube.com/embed/B1T06UhcX0Q" title="YouTube video player" 
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen></iframe>
                        </div>

                        <!--Audio heading-->
                        <div class = "heading-wrapper">
                            <h3>Audio</h3>
                            <h5 id = "audio-see-all">See All</h5>
                        </div>

                        <!--Audio list-->
                        <div class = "audio-element">
                            
                        </div>
                    </div>
                </div>

                <!--Map Feature-->
                <div class = "side-bar-elements" id = "sidebar-popout-map">
                    <div class = "map-element">
                        <h3 id = "map-heading" onclick = closeMap()>Map</h3>

                        <!--Search-->
                        <input type = "text" placeholder = "Search" id = "map-search">

                        <div id = "big-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.955094543436!2d-80.73735268505635!3d35.307097258007396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c1ad0a92357%3A0x6b3f67f7f19324f3!2sUniversity%20of%20North%20Carolina%20at%20Charlotte!5e0!3m2!1sen!2sus!4v1637799767461!5m2!1sen!2sus" 
                            style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>

                        <div class = "small-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.955094543436!2d-80.73735268505635!3d35.307097258007396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c1ad0a92357%3A0x6b3f67f7f19324f3!2sUniversity%20of%20North%20Carolina%20at%20Charlotte!5e0!3m2!1sen!2sus!4v1637799767461!5m2!1sen!2sus" 
                            style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                            <div id = "map-info">
                                <h3>Title</h3>
                                <p>Address Line 1</p>
                                <p>City, State, Zip Code</p>
                            </div>
                        </div>

                        <div id = "recent-searches">
                            <h3 id = "recent">Recent</h3>

                            <div class = "map-list">
                                <div class = "small-map" class = "recent-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.955094543436!2d-80.73735268505635!3d35.307097258007396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c1ad0a92357%3A0x6b3f67f7f19324f3!2sUniversity%20of%20North%20Carolina%20at%20Charlotte!5e0!3m2!1sen!2sus!4v1637799767461!5m2!1sen!2sus" 
                                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        
                                    <div id = "map-info">
                                        <h3>Title</h3>
                                        <p>Address Line 1</p>
                                        <p>City, State, Zip Code</p>
                                    </div>
                                </div>
                            </div>

                            <div class = "map-list">
                                <div class = "small-map" class = "recent-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.955094543436!2d-80.73735268505635!3d35.307097258007396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c1ad0a92357%3A0x6b3f67f7f19324f3!2sUniversity%20of%20North%20Carolina%20at%20Charlotte!5e0!3m2!1sen!2sus!4v1637799767461!5m2!1sen!2sus" 
                                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        
                                    <div id = "map-info">
                                        <h3>Title</h3>
                                        <p>Address Line 1</p>
                                        <p>City, State, Zip Code</p>
                                    </div>
                                </div>
                            </div>

                            <div class = "map-list">
                                <div class = "small-map" class = "recent-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.955094543436!2d-80.73735268505635!3d35.307097258007396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c1ad0a92357%3A0x6b3f67f7f19324f3!2sUniversity%20of%20North%20Carolina%20at%20Charlotte!5e0!3m2!1sen!2sus!4v1637799767461!5m2!1sen!2sus" 
                                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        
                                    <div id = "map-info">
                                        <h3>Title</h3>
                                        <p>Address Line 1</p>
                                        <p>City, State, Zip Code</p>
                                    </div>
                                </div>
                            </div>

                            <div class = "map-list">
                                <div class = "small-map" class = "recent-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.955094543436!2d-80.73735268505635!3d35.307097258007396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c1ad0a92357%3A0x6b3f67f7f19324f3!2sUniversity%20of%20North%20Carolina%20at%20Charlotte!5e0!3m2!1sen!2sus!4v1637799767461!5m2!1sen!2sus" 
                                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        
                                    <div id = "map-info">
                                        <h3>Title</h3>
                                        <p>Address Line 1</p>
                                        <p>City, State, Zip Code</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>

                <!--Upload Feature-->
                <div class = "side-bar-elements" id = "sidebar-popout-upload">
                    <div class = "upload-feature">
                        <h3 onclick = closeUpload()>Upload</h3>
                    </div>
                </div>

                <!--More Feature-->
                <div class = "side-bar-elements" id = "sidebar-popout-more">
                    <div class = "more-feature">
                        <h3 onclick = closeMore()>More</h3>
                    </div>
                </div>
            </div>

            <!-- <div id = "saveHeader" class = "saveHeader">
                {% if not resume %}
                    <div id="sample_resume_div">
                        <h1>Sample Header</h1>
                        <p>This is a sample paragraph for testing purposes only</p>
                    </div>
                    <button onclick="save_resume()"> SAVE </button>
                {% else %}
                <h1>THIS SHOULD APPEAR</h1>
                    {% autoescape false %}
                    <div id="sample_resume_div">
                        {{ resume.html.decode('utf-8') }}
                    {% endautoescape %}
                    </div>
                {% endif %}
            </div> -->
            
        
                <body class = "letter">
                    <section id="save">
                        <section class="sheet">
                            <aside>
                                
                                {% if user %}
                                <section class="contact">
                                    <h3>Contact</h3>
                                    <ul>
                                        {% if user.country and user.state %}
                                            <li><p><i class="fa fa-map-marker-alt" title="Location"></i>{{user.country}}, {{user.state}}</p></li>
                                        {% endif %}
                                        {% if user.phoneNumber %}
                                            <li><p><i class="fa fa-phone" title="Cell phone"></i> <a href="tel:{{user.phoneNumber}}">({{user.phoneNumber[0:2]}}) {{user.phoneNumber[3:5]}}-{{user.phoneNumber[6:9]}}</a></p></li>
                                        {% endif %}
                                        {% if user.email %}
                                            <li><p><i class="fa fa-envelope" title="Email"></i> <a href="mailto:{{user.email}}">{{user.email}}</a></p></li>
                                        {% endif %}
                                    </ul>
                                </section>
                                {% endif %}

                                <section class="skills">
                                    <h3>Skills</h3>
                                    <ul>
                                        <li><span>UX Design</span></li>
                                        <li><span>Communication</span></li>
                                        <li><span>Team Work</span></li>
                                        <li><span>Photography</span></li>

                                    </ul>
                                </section>
                                <section class="skills">
                                    <h3>Technologies</h3>
                                    <ul>
                                        <li><span>Excel</span></li>
                                        <li><span>Sketch</span></li>
                                        <li><span>Adobe Photoshop</span></li>
                                        <li><span>Microsoft</span></li>
                                    </ul>
                                </section>
                            </aside>

                            <section>
                                <header class="name" aria-label="Jeff Deckard">
                                    <a href="">
                                        <svg width="350px" height="25px" viewBox="0 0 257 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="Montserrat-Regular, Montserrat" font-size="48" font-weight="normal">
                                                <g id="Letter" transform="translate(-54.000000, -140.000000)" fill="#484848">
                                                    <text id="JEFF-DECKARD">
                                                        <tspan x="-62" y="174">Name</tspan>
                                                    </text>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                    <h3>Designer</h3>
                                    <hr />
                                </header>
                                <section>
                                    <section class="summary">
                                        <h3>About Me</h3>
                                        <p>Text</p>
                                    </section>

                                    <section class="experience">
                                        <h3>Experience</h3>
                                        <ol>
                                            <li>
                                                <header>
                                                    <p class="sanserif">Lead Designer</p>
                                                    <time>Mar 2016-Feb 2017</time>
                                                </header>
                                                <span>Google</span>
                                                <ul>
                                                    <li>Developed</li>
                                                    <li>Created </li>
                                                    <li>Leveraged </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <header>
                                                    <p class="sanserif">Software Engineer</p>
                                                    <time>2017-2018</time>
                                                </header>
                                                <span>Facebook</span>
                                                <ul>
                                                    <li>Collected </li>
                                                    <li>Authored </li>
                                                    <li>Introduced</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <header>
                                                <p class="sanserif">Software Engineer Intern</p>
                                                <time>2019-2020</time>
                                            </header>
                                            <span>Twitter</span>
                                            <ul>
                                                <li>Analyzed </li>
                                                <li>Created </li>
                                                <li>Maintained </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <header>
                                                <p class="sanserif">Independent iOS Engineer</p>
                                                <time>2021-Present</time>
                                            </header>
                                            <ul>
                                                <li>Developed </li>
                                                <li>Shipped </li>
                                            </ul>
                                        </li>
                                    </ol>
                                </section>
                                <section class="education">
                                    <h3>Education</h3>
                                    <ol>
                                        <li>
                                            <div>
                                                <p class="sanserif">M.S., Data Science</p>
                                                <time>Sept '20-May '22</time>
                                            </div>
                                            <div>
                                                <span>North Carolina State Univeristy</span>
                                                <span></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <p class="sanserif">B.S., Computer Science</p>
                                                <time>Sept '16-May '20</time>
                                            </div>
                                            <div>
                                                <span>University of North Carolina at Charlotte</span>
                                                <span>GPA: 3.91</span>
                                            </div>
                                        </li>
                                    </ol>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </body>

            <!--scalebar for zoom-->
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </main>

        <!--Footer Section-->
        <footer id = "footer">

            <!--About Section of ResumePlus-->
            <div id = "about">
                <h2>Resume+</h2>
                <p>Creating opportunities by allowing your true worth show.</p>
            </div>

            <!--Explore ResumePlus-->
            <div id = "explore">

                <!--Heading-->
                <h3 class = "footer-heading">Explore</h3>

                <!--Links to other pages in ResumePlus-->
                <div id = "explore-links">
                    <br><a href = "Home.html">Home</a><br>
                    <br><a href = "{{url_for('about')}}">About</a><br>
                    <br><a href = "{{url_for('support')}}">Support</a>
                </div>
            </div>

            <!--Visit ReumePlus-->
            <div id = "visit">

                <!--Heading-->
                <h3>Visit</h3>

                <!--ResumePlus location-->
                <p>University of North Carolina Charlotte</p>
                <p>9201 University City Blvd</p>
                <p>Charlotte, NC, 28223</p>
            </div>

            <!--Contact ResumePlus-->
            <div id = "contact">

                <!--Heading-->
                <h3>Contact</h3>

                <!--ResumePlus contact informtion-->
                <p>resumeplus@gmail.com</p>
                <p>704-123-123</p>
            </div>

            <!--Legal-->
            <div id = "legal">

                <!--Heading-->
                <h3>Legal</h3>

                <!--Links to Terms and Privacy-->
                <a href = "#">Terms</a><br>
                <br><a href = "#">Privacy</a>
            </div>
        </footer>
    </body>
</html>
