<!DOCTYPE html>
<html lang="en">
    
<!--Head Section-->
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>ResumePlus Home Page</title>

    <link rel = "stylesheet" type = "text/css" href = "../static/styles/ResumePlusStylesheet.css">
</head>

<!--Body Section-->
<body id = "home-page-body">

    <!--Header Section-->
    <header>

        <!--Logo and Title Section-->
        <div id = "top-wrapper">
            
            <!--Resume+ Logo-->
            <div id = "circle-logo"></div>

            <!--Title-->
            <h1 id = "title">Resume+</h1>

             <!--NavBar-->
            <nav class = "navbar-wrapper">
                <ul>
                    <li><a href = "">About</a></li>
                    <li><a href = "">Messages</a></li>
                    <li><a href = "">Find Other Resources</a></li>
                    <li><a href = "">Support</a></li>

                    <div id = "profile-button">
                        <a href = ""><button id = "edit-button">Profile</button></a>
                    </div>
                </ul>
            </nav>
        </div>
    </header>

    <!--Main Section-->
    <main>
    
    </main>

    <!--Footer Section-->
    <footer>

    </footer>
</body>
</html>