<!DOCTYPE html>
<html lang="en">

    <!--Head Section-->
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title>ResumePlus Home Page</title>

        <link rel = "stylesheet" type = "text/css" href = "../static/styles/ResumePlusStylesheet.css">
    </head>

    <!--Body Section-->
    <body id = "home-page-body">

        <!--Header Section-->
       <header id = "home-header">

            <!--Logo and Title Section-->
            <div id = "top-wrapper">

                <!--Resume+ Logo-->
                <div id = "circle-logo"></div>

                <!--Title-->
                <h1 id = "title">Resume+</h1>

                <!--Search bar-->
                <div class = "search">
                    <input type = "text" placeholder = "Search" id = "search-bar">
                </div>

                <!--NavBar-->
                <nav class = "navbar-wrapper">
                    <ul>
                        <li><a href = "{{url_for('about')}}">About</a></li>
                        <li><a href = "">Messages</a></li>
                        <li><a href = "{{ url_for('support') }}">Support</a></li>
                    </ul>

                    {% if user %}
                        <!--Dropdown button-->
                        <div class = "dropdown-container dropdown">

                            <!--Button for dropdown-->
                            <button class = "edit-button dropbtn">Account</button>

                                <!--Dropdown Menu-->
                                <div class = "dropdown-content">
                                    <a href = "#" class = "dropdown-menu">Profile</a>
                                    <a href = "{{ url_for('settings') }}" class = "dropdown-menu">Setting</a>
                                    <a href = "{{ url_for('logout') }}" class = "dropdown-menu">Log Out</a>
                                </div>
                        </div>
                    {% endif %}
                </nav>
            </div>
        </header>

        <!--Main Section-->
        <main>
          <script>
              function save_resume() {
                var html = document.getElementById("sample_resume_div")
                console.log(html)
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/save_resume", true);
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                resume = {

                };

                children = html.getElementsByTagName('*');
                var e
                for (var i = 0; i < children.length; ++i){
                  resume[i] = {
                    "html" : children[i].outerHTML,
                    "text" : children[i].innerHTML
                  }
                }
                xhr.send(JSON.stringify(resume));
              }
          </script>

          <div id="sample_resume_div">
            <h1>Sample Header</h1>
            <p> This is a sample paragraph for testing purposes only</p>
          </div>
          <button onclick="save_resume()"> SAVE </button>
        </main>

        <!--Footer Section-->
        <footer id = "footer">

            <!--About Section of ResumePlus-->
            <div id = "about">
                <h2>Resume+</h2>
                <p>Creating opportunities by allowing your true worth show.</p>
            </div>

            <!--Explore ResumePlus-->
            <div id = "explore">

                <!--Heading-->
                <h3 class = "footer-heading">Explore</h3>

                <!--Links to other pages in ResumePlus-->
                <div id = "explore-links">
                    <a href = "Home.html">Home</a><br>
                    <br><a href = "{{url_for('about')}}">About</a><br>
                    <br><a href = "{{url_for('support')}}">Support</a>
                </div>
            </div>

            <!--Visit ReumePlus-->
            <div id = "visit">

                <!--Heading-->
                <h3>Visit</h3>

                <!--ResumePlus location-->
                <p>University of North Carolina Charlotte</p>
                <p>9201 University City Blvd</p>
                <p>Charlotte, NC, 28223</p>
            </div>

            <!--Contact ResumePlus-->
            <div id = "contact">

                <!--Heading-->
                <h3>Contact</h3>

                <!--ResumePlus contact informtion-->
                <p>resumeplus@gmail.com</p>
                <p>704-123-123</p>
            </div>

            <!--Legal-->
            <div id = "legal">

                <!--Heading-->
                <h3>Legal</h3>

                <!--Links to Terms and Privacy-->
                <a href = "#">Terms</a><br>
                <br><a href = "#">Privacy</a>
            </div>
        </footer>
    </body>
</html>
