<!DOCTYPE html>
<html lang="en">

<!--Head Section-->
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>ResumePlus Landing Page</title>

    <link rel = "stylesheet" type = "text/css" href = "../static/styles/ResumePlusStylesheet.css">
</head>

<!--Body Section-->
<body>

    <!--Header Section-->
    <header id = "home-header">

        <!--Logo and Title Section-->
        <div id = "top-wrapper">

            <!--Resume+ Logo-->
            <div id = "circle-logo"></div>

            <!--Title-->
            <h1 id = "title">Resume+</h1>

            <!--Search bar-->
            <div class = "search">
                <input type = "text" placeholder = "Search" id = "search-bar">
            </div>

            <!--NavBar-->
            <nav class = "navbar-wrapper">
                <ul>
                    <li><a href = "{{url_for('about')}}">About</a></li>
                    <li><a href = "">Messages</a></li>
                    <li><a href = "{{ url_for('support') }}">Support</a></li>
                </ul>

                {% if user %}
                    <!--Dropdown button-->
                    <div class = "dropdown-container dropdown">

                        <!--Button for dropdown-->
                        <button class = "edit-button dropbtn">Account</button>

                            <!--Dropdown Menu-->
                            <div class = "dropdown-content">
                                <a href = "#" class = "dropdown-menu">Profile</a>
                                <a href = "{{ url_for('settings') }}" class = "dropdown-menu">Setting</a>
                                <a href = "{{ url_for('logout') }}" class = "dropdown-menu">Log Out</a>
                            </div>
                    </div>
                {% else %}
                    <div id = "user-button">
                        <a href = "{{ url_for('login') }}"><button class = "sign-button" id = "signin-button">Sign In</button></a>
                        <a href = "{{ url_for('register') }}"><button class = "sign-button">Sign Up</button></a>
                    </div>
                {% endif %}
            </nav>
        </div>
        <!--Message to the people-->
        <div id = "message">

            <!--Message-->
            <h1>"Traditional resumes don't offer the full picture"</h1>

            <!--Search Wrapper-->
            <div class = "search">
                <input id = "search-bar" placeholder = "Search Portflio">
                <button id = "search-button">Search</button>
            </div>
        </div>
    </header>

    <!--Main Section-->
    <main>

    </main>

    <!--Footer Section-->
    <footer>

    </footer>
</body>
</html>
