<!DOCTYPE html>
<html lang="en">
    
    <!--Head Section-->
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title>ResumePlus Sign In</title>

        <link rel = "stylesheet" type = "text/css" href = "../static/styles/ResumePlusStylesheet.css">
    </head>

    <!--Body Section-->
    <body id = "login-body">

        <!--Main Section-->
        <main>

            <!--Input for user to receive newsletter and contacting us-->
            <div class = "form-wrapper">

                <!--Form to sign in-->
                <div class = "form">
                    <form id = "form" aria-labelledby = "form">

                        <!--Header for Contacting Us-->
                        <div class = "signIn-header">
                            <h1>Sign In</h1>
                        </div>

                        <!--Circle logo under signup-->
                        <div id = "circle-logo2">
                            <div class = "dots"></div>
                            <div class = "dots"></div>
                            <div class = "dots"></div>
                        </div>

                        <!--Information Input-->
                        <div class = "form-control">

                            <!--Email Input-->
                            <label >Username</label>
                            <input type = "text" name = "email" id = "email" placeholder = "Enter Email/Username" aria-required = "true"><br>

                            <!--Password Input-->
                            <label>Password</label>
                            <input type = "password" name = "password" id = "Password" placeholder = "Enter Password">

                            <div id = "forgot-content">
                                <a id = "forgot-account" href = ""><label>Forgot your username/password</label></a>
                            </div>
                        </div>

                        <!--Login Button-->
                        <div class = "signin-wrapper">
                            <a href = "Home.html"><button id = "signin">Login</button></a>
                        </div>
                    </form>
                </div>

                <!--Direct user to sign up if they haven't already-->
                <div class = "direct-signup">
                    <div id = "form2" class = "form2">

                        <!--Message to new user-->
                        <div id = "direct-to-signup">
                            <h1>Come Sign Up!</h1>
                            <p>Enter your details and let yourself be known!</p>
                        </div>

                        <!--SignUp Button-->
                        <div class = "signup-wrapper">
                            <a href = "Register.html"><button id = "signup">Sign Up</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>