<!DOCTYPE html>
<html lang="en">
    <!--Head Section-->
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title>ResumePlus Home Page</title>

        <link rel = "stylesheet" type = "text/css" href = "../static/styles/ResumePlusStylesheet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>

    <body>
        <main id = "message-main">

            <div class = "message-container">
                <!--Message Box Container-->
                <section class = "message-box">

                    <!--Top Message Bar-->
                    <div id = "top-message">

                        <h3><i class="fas fa-circle" id = "status"></i>Message</h3>

                        <div id = "message-icon">

                            <div class="dropdown">
                                <i class="fas fa-chevron-down"></i>

                                <!--Dropdown Content-->
                                <div class="dropdown-content">
                                    <i class="fas fa-circle status-icon" id = "on-status"></i><li>Online</li>
                                    <i class="fas fa-circle status-icon" id = "distrub-status"></i><li>Do Not Distrub</li>
                                    <i class="fas fa-circle status-icon" id = "off-status"></i><li>Offline</li>
                                    <li>Block List</li>
                                </div>
                            </div>

                            <i class="fas fa-pen"></i>

                            <i class="fas fa-ellipsis-h"></i>
                        </div>
                    </div>

                    <!--Users-->
                    <div id = "message-user">

                        <!--Message Search-->
                        <div id = "msg-search">
                            <div id = "message-search">
                                <i class="fas fa-search"></i>
                                <input type = "text" placeholder = "Search Messages">
                            </div>
                        </div>

                        <!--User 1-->
                        <div class = "user1">

                            <!--Profile Image-->
                            <img src = "../static/image/profile.jpg">

                            <!--User Name and most current message-->
                            <div class = "msg-name">
                                <h3>Jeff Deckard</h3>
                                <p>Jeff: Hi, my name is Jeff</p>
                            </div>

                            <!--Date and status-->
                            <div class = "date-status">
                                <p>Oct 24</p>
                                <i class="fas fa-circle"></i>
                            </div>
                        </div>
                        <!--User 1-->
                        <div class = "user1">

                            <!--Profile Image-->
                            <img src = "../static/image/profile.jpg">

                            <!--User Name and most current message-->
                            <div class = "msg-name">
                                <h3>Jeff Deckard</h3>
                                <p>Jeff: Hi, my name is Jeff</p>
                            </div>

                            <!--Date and status-->
                            <div class = "date-status">
                                <p>Oct 24</p>
                                <i class="fas fa-circle"></i>
                            </div>
                        </div>
                        <!--User 1-->
                        <div class = "user1">

                            <!--Profile Image-->
                            <img src = "../static/image/profile.jpg">

                            <!--User Name and most current message-->
                            <div class = "msg-name">
                                <h3>Jeff Deckard</h3>
                                <p>Jeff: Hi, my name is Jeff</p>
                            </div>

                            <!--Date and status-->
                            <div class = "date-status">
                                <p>Oct 24</p>
                                <i class="fas fa-circle"></i>
                            </div>
                        </div>

                        <!--User 1-->
                        <div class = "user1">

                            <!--Profile Image-->
                            <img src = "../static/image/profile.jpg">

                            <!--User Name and most current message-->
                            <div class = "msg-name">
                                <h3>Jeff Deckard</h3>
                                <p>Jeff: Hi, my name is Jeff</p>
                            </div>

                            <!--Date and status-->
                            <div class = "date-status">
                                <p>Oct 24</p>
                                <i class="fas fa-circle"></i>
                            </div>
                        </div>
                    </div>
                </section>

                <!--Message Box Container-->
                <section class = "message-box" id = "msg-box">

                    <!--Top Message Bar-->
                    <div id = "top-message">

                        <!--User Name-->
                        <h3><i class="fas fa-circle" id = "status"></i>Jeff Deckard</h3>

                        <!--Message icons-->
                        <div id = "message-icon">

                            <i class="fas fa-times"></i>

                            <i class="far fa-video"></i>

                            <i class="fas fa-ellipsis-h"></i>
                        </div>
                    </div>

                    <!--Send Message-->
                    <div id = "send-message">
                        <input type = "text" placeholder = "Send Message">
                    </div>
                </section>
            </div>
        </main> 
    </body>
</html>