<aside>
    <section class="contact">
        <h3>Contact</h3>
        <ul>
                <li><p><i class="fa fa-map-marker-alt" title="Location"></i>USA, NC</p></li>
                <li><p><i class="fa fa-phone" title="Cell phone"></i> <a href="tel:{{user.phoneNumber}}">704-444-444</a></p></li>
                <li><p><i class="fa fa-envelope" title="Email"></i> <a href="mailto:email@email.com">email@email.com</a></p></li>
        </ul>
    </section>

    <section class="skills">
        <h3>Skills</h3>
        <ul>
            <li><span>UX Design</span></li>
            <li><span>Communication</span></li>
            <li><span>Team Work</span></li>
            <li><span>Photography</span></li>

        </ul>
    </section>
    <section class="skills">
        <h3>Technologies</h3>
        <ul>
            <li><span>Excel</span></li>
            <li><span>Sketch</span></li>
            <li><span>Adobe Photoshop</span></li>
            <li><span>Microsoft</span></li>
        </ul>
    </section>
</aside>

<section>
    <header class="name" aria-label="Jeff Deckard">
        <h1>Name</h1>
        <h3>Designer</h3>
        <hr />
    </header>
    <section>
        <section class="summary">
            <h3>About Me</h3>
            <p>Text</p>
        </section>

        <section class="experience">
            <h3>Experience</h3>
            <ol>
                <li>
                    <header>
                        <p class="sanserif">Lead Designer</p>
                        <time>Mar 2016-Feb 2017</time>
                    </header>
                    <span>Google</span>
                    <ul>
                        <li>Developed</li>
                        <li>Created </li>
                        <li>Leveraged </li>
                    </ul>
                </li>
                <li>
                    <header>
                        <p class="sanserif">Software Engineer</p>
                        <time>2017-2018</time>
                    </header>
                    <span>Facebook</span>
                    <ul>
                        <li>Collected </li>
                        <li>Authored </li>
                        <li>Introduced</li>
                    </ul>
                </li>
                <li>
                    <header>
                    <p class="sanserif">Software Engineer Intern</p>
                    <time>2019-2020</time>
                </header>
                <span>Twitter</span>
                <ul>
                    <li>Analyzed </li>
                    <li>Created </li>
                    <li>Maintained </li>
                </ul>
            </li>
            <li>
                <header>
                    <p class="sanserif">Independent iOS Engineer</p>
                    <time>2021-Present</time>
                </header>
                <ul>
                    <li>Developed </li>
                    <li>Shipped </li>
                </ul>
            </li>
        </ol>
    </section>
    <section class="education">
        <h3>Education</h3>
        <ol>
            <li>
                <div>
                    <p class="sanserif">M.S., Data Science</p>
                    <time>Sept '20-May '22</time>
                </div>
                <div>
                    <span>North Carolina State Univeristy</span>
                    <span></span>
                </div>
            </li>
            <li>
                <div>
                    <p class="sanserif">B.S., Computer Science</p>
                    <time>Sept '16-May '20</time>
                </div>
                <div>
                    <span>University of North Carolina at Charlotte</span>
                    <span>GPA: 3.91</span>
                </div>
            </li>
        </ol>
    </section>
</section>