<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel = "stylesheet" type = "text/css" href = "../static/styles/ResumePlusStylesheet.css">
</head>
<body>
    <body class = "letter letter1">
        <section class = "template" id = "save">
            <section class="sheet" id = "sheet">

                <aside id = "template-left-side">

                     <!--Top Header Template-->
                    <div id = "template-header4">
                        <h1>Name</h1>
                        <p id = "template-job4">Software Engineer</p>
                        <div id = "template4-solid"></div>
                    </div>

                    <!--User Contact Information-->
                    <div id = "template-contact4">
                        <h3>Contact</h3>

                        <div id = "template4-solid"></div>

                        <p>Email</p>
                        <p>Phone Number</p>
                        <p>Location</p>
                    </div>

                     <!--Education-->
                     <div id = "template-education4">
                        <h3>Education</h3>

                        <p class = "edu">B.S. of Arts in Computer Science</p>
                        <p class = "uni">University of North Carolina at Charlotte</p>
                        <p class = "yr">Aug 2017 - May 2021</p>
                        <p class = "GPA GPA4">GPA: 3.8</p><br><br>

                        <p class = "edu">M.S. of Arts in Computer Science</p>
                        <p class = "uni">University of North Carolina at Charlotte</p>
                        <p class = "yr">Aug 2017 - May 2021</p>
                        <p class = "GPA GPA4">GPA: 3.8</p>
                    </div>

                    <!--User Skills-->
                    <div id = "template-skill4">
                        <h3>Skills</h3>

                        <!--List of skills-->
                        <section class="skills skill-list">
                            <ul>
                                <li><span>Java</span></li>
                                <li><span>JavaScript</span></li>
                                <li><span>Adobe Photoshop</span></li>
                                <li><span>Microsoft</span></li>
                                <li><span>HTML</span></li>
                                <li><span>CSS</span></li>
                                <li><span>Python</span></li>
                            </ul>
                        </section>
                    </div>

                    <!--Award/Certifications-->
                    <div id = "template-awards4">
                        <h3>Awards/Certificates</h3>

                        <!--List of skills-->
                        <section class="skills skill-list">
                            <ul>
                                <li><span>Awards</span></li>
                                <li><span>Awards</span></li>
                                <li><span>Awards</span></li>
                                <li><span>Awards</span></li>
                                <li><span>Awards</span></li>
                                <li><span>Awards</span></li>
                                <li><span>Awards</span></li>
                                <li><span>Awards</span></li>
                                <li><span>Awards</span></li>
                            </ul>
                        </section>
                    </div>
                </aside>

                <section id = "template-right-side4">

                    <!--About Me Section-->
                    <h1 id = "about-me-template">About Me</h1>
                    <p id = "template-about4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. 
                        Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. 
                        Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
                    <div id = "template4-solid2"></div>

                    <!--Right side of the template-->
                    <div id = "right-template4">
                        <h3>Experience</h3>

                        <!--Experience 1-->
                        <p class = "position">Software Engineer</p>
                        <p class = "yr yr2">Aug 2021 - Present</p>

                        <ul class = "position-description4">
                            <li>- Design, build, and implement software solutions to create information systems</li>
                            <li>- Analyzes the analysis, problem definition, requirements, solution creation, and suggested solutions to determine operational feasibility</li>
                            <li>- Develops documentation, flowcharts, layouts, diagrams, charts, code comments, and clean code to explain and demonstrate solutions</li>
                            <li>- Determines and designs system specifications, standards, and programming to prepare and install solutions.</li>
                        </ul>

                        <!--Experience 2-->
                        <p class = "position position4">Software Developer</p>
                        <p class = "yr yr2">Aug 2021 - Dec 2021</p>

                        <ul class = "position-description4">
                            <li>- Design, build, and implement software solutions to create information systems</li>
                            <li>- Analyzes the analysis, problem definition, requirements, solution creation, and suggested solutions to determine operational feasibility</li>
                            <li>- Develops documentation, flowcharts, layouts, diagrams, charts, code comments, and clean code to explain and demonstrate solutions</li>
                            <li>- Determines and designs system specifications, standards, and programming to prepare and install solutions.</li>
                        </ul>

                        <!--Experience 3-->
                        <p class = "position position4">Software Developer</p>
                        <p class = "yr yr2">Aug 2021 - Dec 2021</p>

                        <ul class = "position-description4">
                            <li>- Design, build, and implement software solutions to create information systems</li>
                            <li>- Analyzes the analysis, problem definition, requirements, solution creation, and suggested solutions to determine operational feasibility</li>
                            <li>- Develops documentation, flowcharts, layouts, diagrams, charts, code comments, and clean code to explain and demonstrate solutions</li>
                            <li>- Determines and designs system specifications, standards, and programming to prepare and install solutions.</li>
                        </ul>
                    </div>
                </section>
            </section>
        </section>
    </body>
</body>
</html>